<div class="center">
  <h1>CONFIRMAR CORREO</h1>
  <h3>-Validaciones estándares de Angular-</h3>
  <br>
  <form [formGroup]="formularioContacto" (ngSubmit)="submit()">
    <p class="start">Nombre:
      <input type="text" formControlName="nombre" required>
      @if(this.formularioContacto.get('nombre')?.errors?.['required']) {
      <span class="start_left_margin" style="color: red;">(El nombre no puede quedar vacío)</span>
      }
      @if(this.formularioContacto.get('nombre')?.errors?.['minlength']) {
      <span class="start_left_margin" style="color: red;">(Debe tener como mínimo 10 caracteres)</span>
      }
    </p>
    <p class="start">Mail:
      <input type="text" formControlName="mail">
      @if(this.formularioContacto.get('mail')?.errors?.['required']) {
      <span class="start_left_margin" style="color: red;">(El mail no puede quedar vacío)</span>
      }
      @if(this.formularioContacto.get('mail')?.errors?.['email']) {
      <span class="start_left_margin" style="color: red;">(El mail no es válido)</span>
      }
    </p>
    <p class="start">Mensaje<br>
      <textarea rows="10" cols="70" formControlName="mensaje"></textarea>
    </p>
    @if(this.formularioContacto.get('mensaje')?.errors?.['required']) {
    <div class="start" style="color: red;">(El mensaje no puede quedar vacío)</div>
    }
    @if(this.formularioContacto.get('mensaje')?.errors?.['maxlength']) {
    <div class="start" style="color: red;">(Debe tener como máximo 500 caracteres)</div>
    }
    <div class="end">
      <button type="submit">Confirmar</button>
    </div>
  </form>
  <br>
  <hr>
  @if (resultado == "TODOS LOS DATOS SON VÁLIDOS") {
    <font color="red">{{resultado}}</font>
  }
  @else if (resultado == "HAY DATOS INVÁLIDOS EN EL FORMULARIO") {
    <font color="red">{{resultado}}</font>
  }@else { <font>{{resultado}}</font>}
  
</div>
